.checkoutProduct{
   display: flex;
   margin-top: 20px;
   margin-bottom: 20px
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__info > button{
    /* background-color: #f8c14b; */
    border:1px solid;
    margin-top:10px;
    border-color:#a88734 #9c7e31 #846a29;
    color: #111;

    background: #f3d078;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
}

.checkoutProduct__info > button:focus{
    border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
  outline: none;
}

.checkoutProduct__image{
    width:180px;
    height: 180px;
    object-fit: contain;
}
.checkoutProduct__rating{
    display: flex;
    color: orange;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}
