.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top:0;
    z-index:100;
}

.header__logo{
    /* maintain its aspect ratio object-fit */
    object-fit: contain;
    width:100px;
    margin: 0 20px;
    margin-top:18px;
    border:1px solid transparent;
    border-radius: 2px;
    padding: 5px;
}

.header__search{
    display: flex;
    flex:1;
    align-items: center;
    border-radius:24px;
}

.header__searchInput{
    height: 12px;
    padding:10px;
    border:none;
    width:100%;
}

.header__searchIcon{
    padding:5px;
    background-color: #cd9042;
    height:22px !important;

}

.header__menuIcon{
    border:  1px solid darkgray;
    border-radius: 2px;
    padding:2px
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left:10px;
    margin-right: 10px;
    color:white;
    border:1px solid transparent;
    border-radius: 2px;
    padding: 5px;
}


.header__optionLineOne{
    font-size: 10px;
}
.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
    border:1px solid transparent;
    border-radius: 2px;
    padding: 5px;

}

.header__option:hover,
.header__optionBasket:hover,
.header__logo:hover{
    border-color:white;
}

.header__basketCount{
    /* margin-left:10px;
    margin-right: 10px; */
    margin:auto 10px auto 10px;
    color:rgb(240, 136, 4);
}

.underHeader{
        height: 40px;
        display: flex;
        align-items: center;
        background-color: rgb(35, 47, 62);;
        position: sticky;
        top:60px;
        z-index:90;
        justify-content: space-between;
}
.underHeader__nav.location .header__option{
    margin-left: -10px;
}
.underHeader__location{
    display: flex;
    flex-direction: column;
    color:white;
    border:1px solid transparent;
    padding: 5px;
}
.underHeader__nav{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}


.header__optionLineThree{
    font-size: 13px !important;
}